/* 
  main-background: #F5F5F7
  main-text-color: #1d1d1f
  card-background: #FFFFFF
  primary-color: #fca074
  max-content-size: 1000px

*/
:root {
  --max-content-width: 1000px;
  --shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
  --shadow-large: 2px 4px 12px rgba(0, 0, 0, 0.08);
  --primary: #fca074;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f7;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  color: #1d1d1f;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

main {
  margin-bottom: 320px;
}

.header {
  background: #f5f5f7dd;
  padding: 0.5rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  z-index: 10;
}

.header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: var(--max-content-width);
  margin: auto;
  padding: 0 2rem;
}

.logo {
  font-family: "Orbitron", sans-serif;
  color: var(--primary);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 32px;
}

.header__icon {
  width: 1rem;
  height: 1rem;
  margin-right: 1em;
  -webkit-transform: translate3d(0.25rem, 0.25rem, 0);
          transform: translate3d(0.25rem, 0.25rem, 0);
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu a {
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 300;
  color: black;
}

.menu a:hover {
  color: var(--primary);
}

.title {
  padding-left: calc((100% - var(--max-content-width)) / 2 - 2rem);
  margin-left: 2rem;
  padding-top: 5rem;
  padding-bottom: 24px;
  font-weight: 600;
}

.title span {
  color: gray;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
  padding: 0 calc((100% - var(--max-content-width)) / 2);
}

.items::-webkit-scrollbar {
  display: none;
}

.item {
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform linear 0.2s;
  transition: -webkit-transform linear 0.2s;
  transition: transform linear 0.2s;
  transition: transform linear 0.2s, -webkit-transform linear 0.2s;
}

.item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.item:last-child {
  margin-right: 0;
}

.item--dark {
  color: white;
}

.item--lastest__content {
  position: absolute;
  padding: 1rem;
}

.item--lastest__tag {
  text-transform: uppercase;
  color: #969696;
  font-size: 0.75rem;
  margin: 8px 0;
  font-weight: 400;
}

.item--lastest__title {
  font-size: 24px;
  margin: 8px 0;
  font-weight: bold;
}

.item--lastest__description {
  margin: 12px 0 24px 0;
}

.item--lastest__thumpnail {
  width: 400px;
  height: 500px;
  top: 0;
  left: 0;
  border-radius: 1rem;
  -webkit-box-shadow: var(--shadow-large);
          box-shadow: var(--shadow-large);
}

.item--product {
  background: white;
  padding: 1rem;
  width: 250px;
  min-width: 250px;
  top: 0;
  left: 0;
  border-radius: 1rem;
  -webkit-box-shadow: var(--shadow-large);
          box-shadow: var(--shadow-large);
  text-align: center;
}

.item--product__thumpnail {
  height: 15rem;
  width: 225px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  padding: 2rem 0 1rem 0;
}

.item--product__title {
  text-align: left;
  font-weight: 700;
}

.item--product__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item--product__price {
  margin: 0;
  text-align: left;
}

.item .add-to-cart {
  margin: 0;
  border: 1px solid var(--primary);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.item .add-to-cart img {
  width: 1rem;
  height: 1rem;
  margin: 0;
}

.item .add-to-cart .badge {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.item .add-to-cart:hover {
  background: var(--primary);
}
/*# sourceMappingURL=styles.css.map */